.buttonLogin {
  border-radius: 20px;
  background-color: rgb(68, 61, 155);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
  color: white;
  font-weight: 600;
}
